export(FRmapping)
export(FRmappingSimple)
export(getFR)
export(getFRest)
export(getFRmat)
export(getFRvalsPerm)
export(getMatched)
export(makeCrossMap)
export(makeRefMap)
export(makeRefSample)
export(makeSampleInfo)
export(permutePops)
export(statCrossLists)
export(getSomePops)
exportClasses(FRstats)
exportClasses(FRvalsPerm)
exportClasses(SampleInfo)
exportClasses(crossMap)
exportClasses(matchMat)
exportClasses(refMap)
exportClasses(refSample)
exportClasses(somePops)
exportMethods(getCrossList)
exportMethods(getFRmapPnorms)
exportMethods(getFRmapPnulls)
exportMethods(getFRmapStats)
exportMethods(getFRstats)
exportMethods(getMatchMat)
exportMethods(getMatchPairs)
exportMethods(getNewPops)
exportMethods(getPairList)
exportMethods(getPnorm)
exportMethods(getPnulls)
exportMethods(getPopFilt)
exportMethods(getRefData)
exportMethods(getSampleInfo)
exportMethods(getWnulls)

